@import url("./font/flaticon.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #eee;
}

#app {
  height: 100vh;
}

.button {
  background-color: #eee;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-weight: bold;
  outline: none;
  -webkit-box-shadow: -1px -1px 5px #ccc, 3px 3px 5px #aaa;
          box-shadow: -1px -1px 5px #ccc, 3px 3px 5px #aaa;
}

.button:hover {
  -webkit-box-shadow: inset -2px -2px 5px #ccc, inset 3px 3px 5px #aaa;
          box-shadow: inset -2px -2px 5px #ccc, inset 3px 3px 5px #aaa;
}

.input {
  border: none;
  border-radius: 4px;
  background-color: #eff9ff;
  -webkit-box-shadow: -1px -1px 5px #ccc, 3px 3px 5px #aaa;
          box-shadow: -1px -1px 5px #ccc, 3px 3px 5px #aaa;
  height: 24px;
  padding-left: 6px;
  outline: none;
}

.todo-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 400px;
}

.todo-list .todo {
  margin: 20px;
}

.todo-list .todo .title {
  text-align: center;
}

.todo-list .add-new-todo {
  margin-left: 40px;
  width: 80px;
  height: 80px;
}

.inspect {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.inspect .inspect-todo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inspect .inspect-todo .todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inspect .inspect-todo .todo .title {
  margin-bottom: 12px;
}

.inspect .inspect-todo .todo .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inspect .inspect-todo .todo .add .add-item {
  margin-right: 10px;
  width: 100%;
}

.inspect .inspect-todo .todo .add .add-item-button {
  width: 28px;
  font-size: 18px;
}

.inspect .inspect-todo .todo .todos .item .item-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.inspect .inspect-todo .todo .todos .item .item-container .checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.inspect .inspect-todo .todo .todos .item .item-container .checkbox:hover ~ .checkmark {
  background-color: #eee;
}

.inspect .inspect-todo .todo .todos .item .item-container .checkbox:checked ~ .checkmark {
  background-color: #fff;
}

.inspect .inspect-todo .todo .todos .item .item-container .checkbox:checked ~ .checkmark:after {
  display: block;
}

.inspect .inspect-todo .todo .todos .item .item-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 6px;
}

.inspect .inspect-todo .todo .todos .item .item-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #111;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.inspect .inspect-todo .todo .todos .item .item-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
}

.inspect .inspect-todo .todo .todos .item .item-control .button {
  width: 24px;
  height: 24px;
}

.inspect .inspect-todo .todo .todos .item .item-control .button i:before {
  font-size: 16px;
}

.inspect .inspect-todo .todo .todos .completed {
  border-bottom: none;
}

.inspect .inspect-todo .todo .todos .completed .item-control {
  width: 24px;
}

.inspect .inspect-todo .todo .todos .completed .item-control .change-item {
  display: none;
}

.inspect .control-todo {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inspect .control-todo .control-panel {
  min-width: 280px;
  min-height: 400px;
  border-radius: 10px;
  -webkit-box-shadow: -1px -1px 5px #ccc, 3px 3px 5px #aaa;
          box-shadow: -1px -1px 5px #ccc, 3px 3px 5px #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inspect .control-todo .control-panel .button {
  width: 80px;
  height: 40px;
}

.inspect .control-todo .control-panel .button:not(:last-child) {
  margin-bottom: 20px;
}

.inspect .control-todo .control-panel .control-panel-title {
  margin-bottom: 20px;
}

.todo {
  position: relative;
  min-width: 280px;
  min-height: 400px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: -1px -1px 5px #ccc, 3px 3px 5px #aaa;
          box-shadow: -1px -1px 5px #ccc, 3px 3px 5px #aaa;
}

.todo .todo-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 20px;
  width: 240px;
}

.todo .todo-buttons .button {
  width: 40px;
  height: 40px;
}

.todo .todos {
  list-style: none;
  padding: 10px 0;
}

.todo .todos .item {
  position: relative;
  margin: 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todo .todos .item .checkbox {
  margin-right: 2px;
  width: 16px;
  height: 16px;
}

.todo .todos .completed .item-text {
  text-decoration: line-through;
}

.modal-mask {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-mask .modal-wrapper {
  background-color: #eee;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-mask .modal-wrapper .modal-buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-mask .modal-wrapper .button {
  width: 100px;
  height: 80px;
}
/*# sourceMappingURL=style.css.map */